.wheelbox {
    max-width: 400px;
    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    border-radius: 100%;
    background-color: #f1f1f1;
}

#myChart {
    position: relative;
}

.spin-btn {
    background: rgb(60, 60, 242);
    border: none;
    border-radius: 50%;
    color: white;
    height: 60px;
    margin: 0;
    outline: solid white;
    padding: 0;
    width: 60px;
    /* position setting*/
    position: absolute;
    top: 270px;
}